@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:tektur ;
    src: url(../font/Tektur-Regular.ttf);
}
@font-face {
    font-family:yanone ;
    src: url(../font/YanoneKaffeesatz-Regular.ttf);
}

@keyframes scroll{
    from{
        transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  @keyframes scroll-reverse{
    from{
        transform: translateX(-50%);
    }
    to {
      transform: translateX(0%);
    }
  }
  @keyframes rolling {
    from{
      transform: rotate(0);
      /* transform-origin: 40% 49.5%; */
      transform-origin: 50% 50%;
    }
    to{
      transform: rotate(360deg);
      /* transform-origin: 40% 49.5%; */

    }
  }

